metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "a73786b2171e85b9e9a6a627297b727ef31dd69e687de8f1acf0497a9dcb458e"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "UOxyPfD0pWypJBE2eIoTkm4TrAy9xl2APIwqnW2wEf0="